#IGNORE
#folders
node_modules/
Resources/Audio/*
Resources/Logs/*
Resources/Video/*
.config/cookie_files/

#individual files
.config/*
index test.js

#OVERIDE INCLUDE
!Resources/*/*.txt
/.config/config.json