#IGNORE
#folders
/node_modules/
/Resources/Audio/*
/Resources/Logs/*
/Resources/Video/*
/config/cookie_files/*

#individual files
/index test.js
/config/Discord/config.actual.json

#OVERIDE INCLUDE
!Resources/*/*.txt
